html,
body {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: #94618E; 
  padding-bottom: 10px;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 5em;
  font-family: "Lucida Console";
  font-weight: normal;
  color: #F4DECB;
}

#card-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.card {
  width: 300px;
  border: 1px solid #49274A;
  border-radius: 5px;
  box-shadow: 0 2px 4px #49274A;
  margin: 5px;
}

.card-content {
  padding: 20px;
  font-family: "Verdana";
  color: #49274A;
}

.card-content h2 {
  margin-top: 0;
  font-size: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #94618E;
  padding: 10px;
}

.user_input {
  display: flex;
  justify-content: center;
  background-color: #94618E;
  padding: 10px;
}


button {
  background-color: #F4DECB;
  border: 2px solid #49274A;
  border-radius: 10px;
  color: #49274A;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 2px 2px 6px rgba(73, 39, 74, 0.4);
}

button:hover {
  background-color: #eacdb5;
  transform: scale(1.05);
}

button:active {
  background-color: #d3b7a1;
  transform: scale(0.98);
}

 
.result-box {     /* Customizes result box */
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
